<p>
  <mat-card>
    <mat-card-title>{{movie.name}}</mat-card-title>
    <mat-card-content>

      <mat-list>
        <mat-list-item>{{movie.yearOfRelease}}</mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item>{{movie.rating}}</mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item> {{movie.price}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>{{movie.description}}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</p>
